@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
font-family: 'peppins',sans-serif;
}
body{
background-color: #000000;
    color: #136760;
   
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 4%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100px;
    background-color: #a8a7a7;

}
.logo{
    font-size: 23px;
    color: #00586d;
    text-decoration: none;
    font-weight: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    height: 40px;

}

.navbar a{
    font-size: 18px;
    color: rgb(0, 0, 0);
text-decoration: none;
font-weight: 500px;
margin-left: 50px;
transition: .3s;


}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
img{
   margin-inline-start: 10px;
   margin-top: 90px;
}

.home-content{
   
    max-width: 700px;
    padding: 0 88px;
    margin-top: 0.5px;

   
}
.home-content{
    font-size: 15px;
    font-weight: 700px;

}
.home-content h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    color: #ff0000;
  
   
}
.home-content h3{
    font-size: 26px;
    font-weight:600px;
    color: #ed700a;
}
.home-content p{
    font-size: 19px;
    margin: 10px 0 30px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 395px;
    height: 50px;
    
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
      width:180px ;
      height: 100%;
      background:#004662 ;
      border:2px solid #00abf0  ;
      border-radius:8px ;
      font-size: 19px;
      color: #ffffff;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 1px;
      z-index: 1;
      overflow: hidden;
      transition: .5s;
}
.btn-box a:hover{
    color: #2b5666;
}

.btn-box a:nth-child(2):hover{
color: #002f3a;
}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: #2d879e;
}
.btn-box a:nth-child(2)::before {
background-color: #0ea2b9;
}

.btn-box a::before{
    content:"" ;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: #1779c5;
    z-index: -1;
transition: .5s;

}
.btn-box a:hover::before{
    width: 100%;
}
.bx-search{
    
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
 
}
button{
  border-radius: 5px;
  width: 100px;
  height:25px;
  box-shadow: #000000;

}
button:hover{
    color: white;
    background-color: #234451;
}
input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
 
}
.home-sci {
    position:absolute ;
    top: 300px;
    width:300px ;
    display: flex;
    justify-content: space-between;
    margin-top: 680px;
    gap: 10px;
 margin-inline-start: 40px;
 margin-bottom: 900px;

}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    
}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 0%;
       height: 100%;
       background-color: #00abf0;
       z-index: -1;
       transition: .5s;

}
.home-sci a:hover:before{
    width: 100%;
}